.nav__ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.nav__ul li a{
    text-decoration: none;
    font-size: 20px;
}
.col{
    padding: 1rem 0rem;
    text-align: center;
}
.col::after{
    content: " ";
    display: flex;
    width: 85%;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.341);
}
.cols{
    padding: 1rem 0rem;
}
.cols::after{
    content: " ";
    display: flex;
    width: 85%;
    height: 1px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.341);
}