.tab_trailer{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 600px;
    height: 400px;
    transform: translateX(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 100px 40px black;
    border-radius: 50px;
}
