:root{
    --kukroq: #687791;
    --oq: #D6E4FF;
    --kuk: #3461FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col a{
    /* color: grey; */
    font-weight: 600;
    font-size: 18px;
}

.container_dashboard{
    width: 95%;
    margin: 0 auto;
}
.cols_upload{
    margin: 0rem 1rem;
}
a{
    transition: all 0.5 ease;
}
.blues{
    color: var(--kuk);
    font-weight: 900;
}
.greys{
    color: grey;
}